<mat-toolbar class="header">
    <div class="logo">
      <img src="assets/icons/TestLogo.svg" alt="Tech Care">
    </div>

    <nav class="nav-links">
      <a href="#" class="nav-link">
        <img src="assets/icons/home.svg" alt="home icon" class="nav-icon" />
        Overview
      </a>
      <a href="#" class="nav-link active">
        <img src="assets/icons/patients.svg" alt="home icon" class="nav-icon" />
        Patients
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icons/calendar.svg" alt="home icon" class="nav-icon" />
        Schedule
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icons/chat.svg" alt="home icon" class="nav-icon" />
        Message
      </a>
      <a href="#" class="nav-link">
        <img src="assets/icons/credit-card.svg" alt="home icon" class="nav-icon" />
        Transactions
      </a>
    </nav>

    <div class="user-profile">
      <img src="assets/Images/senior-woman.png" alt="Doctor profile">
      <div class="user-info">
        <span class="name">Dr. Jose Simmons</span>
        <span class="role">General Practitioner</span>
      </div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
       <img style="height: 20px; width: 3px;" src="assets/icons/ellipsis.svg">
    </div>
  </mat-toolbar>
