<div class="vital-stats">
    <mat-card class="stat-card respiratory">
      <div class="icon">
        <img src="assets/icons/respiratory.svg" alt="home icon" class="nav-icon" />
      </div>
      <div class="info">
        <h4>Respiratory Rate</h4>
        <div class="value">20 bpm</div>
        <div class="status">Normal</div>
      </div>
    </mat-card>

    <mat-card class="stat-card temperature">
      <div class="icon">
        <img src="assets/icons/temperature.svg" alt="home icon" class="nav-icon" />
      </div>
      <div class="info">
        <h4>Temperature</h4>
        <div class="value">98.6°F</div>
        <div class="status">Normal</div>
      </div>
    </mat-card>

    <mat-card class="stat-card heart-rate">
      <div class="icon">
        <img src="assets/icons/HeartBPM.svg" alt="home icon" class="nav-icon" />
      </div>
      <div class="info">
        <h4>Heart Rate</h4>
        <div class="value">78 bpm</div>
        <div class="status low">Lower than Average</div>
      </div>
    </mat-card>
  </div>
