<div class="dashboard-container">
    <app-header></app-header>
    <div class="content-area">
      <app-patient-list [patients]="patientList" class="patient-list"></app-patient-list>
      <div class="main-content">
        <div class="diagnosis-section">
            <div class="diagnosis-history">
                <h2>Diagnosis History</h2>
                <app-diagnosis-history [diagnosisHistory]="diagnosisHistory"></app-diagnosis-history>
            </div>
            <div class="diagnostic-list">
                <app-diagnostic-list [diagnostics]="diagnosisList"></app-diagnostic-list>
            </div>
        </div>
        <div class="patient-info-section">
            <div class="patient-info">
              <app-patient-info-card [user]="patientInfo"></app-patient-info-card>
            </div>
            <div class="lab-result">
                <app-lab-results [results]="labResult"></app-lab-results>
            </div>
          
        </div>
      </div>
    </div>
</div>

